<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- path to be added later on for signup, login and log out if condition needed to show or hide login , signup and logout-->
  	<p>sign up</p> <br>
    <p>login</p><br>
    <p>log out</p><br>

    <!-- a link that will take us to the form of new post -->
    <p><%= link_to "new post", new_post_path %></p>
    <br>

  	<div>
  		<!-- showing all posts -->
  		<p>all posts</p>
      <%= yield %>
    </div>
    
  </body>
</html>
